main {
    background-color: #1e202e;
}
code{
    background-color:#030;
    border:1px solid #666;
}

.md-nav__item .md-nav__link--active {
    color:    #10A0A0;
}
.md-typeset a {
    color:    #10A0A0;
}
.md-typeset a:hover {
    border-bottom: dotted 1px;
}

.md-button {
    background-color: #10A0A0;
}